h1{
   color:green;



}

.form1{
text-align:center;
background-color:lightblue;
margin-bottom: 15%;
margin-left: 20%;
margin-right: 20%;


}

.form2{
text-align:center;
background-color:lightblue;
margin-bottom: 15%;
margin-left: 30%;
margin-right: 30%;


}.form3{
text-align:center;
background-color:lightblue;
margin-bottom: 15%;
margin-left: 30%;
margin-right: 30%;


}

.clickable {
    cursor: pointer;
}
